html{
  height:100%;
}
body{
  height: 80%;
  width: 80%;
  margin: 20px;
  background-color:#444;
  background-image: url("https://cdn.hipwallpaper.com/i/19/5/7O2Pyi.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.lineUpDancers {
  top: 20%;
  left: 10%;
  display: flex;
  flex-flow: wrap;
}
.verticalLineUp {
  top: 10%;
  left: 20%;
  display: flex;
  flex-flow: column wrap;
}

.addShaq, .addLebron, .addDurant, .lineUp, .lineUpV {
  padding:5px 12px;
  float:right;
}


.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
  padding:5px 12px;
  float:left;
}
.dancer{
  border-radius:10px;
  position:relative;
  height: 100px;
  width: 100px;

}

.shaq {
  height:125px;
  width: 125px;
}

.lebron {
  height:125px;
  width: 125px;
}

.durant {
  height:125px;
  width: 125px;
}

.shaq:hover {
  transform: rotate(90deg);
}

.lebron:hover {
  transform: rotate(90deg);
}

.durant:hover {
transform: rotate(90deg);
}
