html{
  height:100%;
  width: auto;
}
body{
  height: 80%;
  width: 80%;
  margin: 20px;
  background-color:#444;
  background-image: url("https://cdn.hipwallpaper.com/i/19/5/7O2Pyi.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: 14px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.lineUpDancers {
  top: 20%;
  left: 10%;
  display: flex;
  flex-flow: wrap;
  width:auto;
}

.verticalLineUp {
  top: 10%;
  left: 20%;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

.focus {
  top: 50%;
  left: 50%;
  height: 125px;
  width: 125px;
  position: absolute;
}

.leftBox {
  top: 20%;
  left: 25%;
  height: 125px;
  width: 125px;
  position: absolute;
}

.rightBox {
  top: 20%;
  left: 75%;
  height: 125px;
  width: 125px;
  position: absolute;
}

.addShaq, .addLebron, .addDurant, .lineUp, .lineUpV {
  padding:5px 12px;
  float:right;
}


.topbar{
  height:26px;
  background-color: rgb(3, 3, 3);

}
.title{
  background-color: rgb(3, 3, 3);
  padding:5px 12px;
  float:left;
}
.dancer{
  border-radius:10px;
  position:absolute;
  height: 100px;
  width: 100px;

}

.shaq {
  height:125px;
  width: 125px;
  transition: transform 1s ease-in-out;
}

.lebron {
  height:125px;
  width: 125px;
  transition: transform 1s ease-in-out;

}

.durant {
  height:125px;
  width: 125px;
  transition: transform 1s ease-in-out;
}

.shaq:hover {
  transform: rotate(360deg);
}

.lebron:hover {
  transform: rotate(360deg);
}

.durant:hover {
transform: rotate(360deg);
}
